.container_compra{
    display: flex;
    flex-wrap: wrap; 
}

.card_compra{
    width: 15rem;
    margin: 1%;
    
}

@media (max-width: 1000px){
    .container_compra{
        margin: auto;

    }
    .card_compra{
        margin: auto;
    }   
}




