/*Main 1 ==============================================*/
.bloco_1{
    width: auto;
    height: 14em;
    background-color: rgb(214, 214, 214);
    background-position-y: center;
    padding: 115px;
}
.jumbotron-img{
    margin-top: -26px;
    background-image: url('/public/img/home_images/parana.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.form-card{
    background-color: #f75611;
    box-shadow: 1px 1px 15px;
    padding: 1em;
    border-radius: 10px;
    margin: 2rem;
    width: 35rem;
}
.form-card > h1{
    color: white;
}
label{
    color: white;
}
.form-group{
    width: auto;
}


/*Main 2*/
.bloco_2{
    margin-left: 1em;
    margin-right: 1em;
}
.outdoor_main{
    margin-bottom: 0.9em;
    margin-top: 0.9em;
    background-color: #F75611;
    color: white;
    padding: 5em;
    padding-left: 20em;
    margin-left: -20%;
    margin-right: -20%;
    margin-top: 2em;
    margin-bottom: 1em;
    position: relative;
}
.outdoor_main > *{
    padding: 5px;
}

/*Grid da Main 2 ====================================*/

.container_home{
  text-align: center;   
  margin-left: 10%;
  margin-right: 10%;
}

