

.jumbotron-img{
    margin-top: -26px;
    background-image: url('/public/img/home_images/mar.jpg');
    background-repeat: no-repeat;
   
    background-position-y: center;
}

.form-card{
    background-color: rgb(255, 255, 255);

    padding: 1em;
    border-radius: 10px;
    margin: 2rem;
    width: 35rem;
}
.form-card > h1{
    color: black;
}
label{
    color: black;
}
.form-group{
    width: auto;
}



h1.h1-aside{
    font-size: 30px;
    border: none;
    
}
.texto-main{
    margin-top: 80px;
    margin-bottom: 80px;
}

input.form-control-home{
    border: 1px solid black;
}
select.form-control-home{
    border: 1px solid black;

}

button.btn-aside{
    background-color: #F75611;
    margin-top: 20px;
    width: 100%;
    
}
button.btn-aside:hover{
    background-color: #F70C5B;
  
}


.container_home{
  text-align: center;   
  margin-left: 10%;
  margin-right: 10%;
}

